<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdhotel.mapper.SigninMapper" >
  <resultMap id="BaseResultMap" type="com.cdhotel.model.Signin" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="SIGNINTIME" property="signintime" jdbcType="TIMESTAMP" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, SIGNINTIME, USERNAME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cd_signin
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cd_signin
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cdhotel.model.Signin" >
    insert into cd_signin (ID, SIGNINTIME, USERNAME
      )
    values (#{id,jdbcType=INTEGER}, #{signintime,jdbcType=TIMESTAMP}, #{username,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cdhotel.model.Signin" >
    insert into cd_signin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="signintime != null" >
        SIGNINTIME,
      </if>
      <if test="username != null" >
        USERNAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="signintime != null" >
        #{signintime,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdhotel.model.Signin" >
    update cd_signin
    <set >
      <if test="signintime != null" >
        SIGNINTIME = #{signintime,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null" >
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdhotel.model.Signin" >
    update cd_signin
    set SIGNINTIME = #{signintime,jdbcType=TIMESTAMP},
      USERNAME = #{username,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>