<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdhotel.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.cdhotel.model.User" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="ROLE" property="role" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="CREATENAME" property="createname" jdbcType="VARCHAR" />
    <result column="EMOLUMENT" property="emolument" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, PASSWORD, ROLE, CREATETIME, CREATENAME, EMOLUMENT
  </sql>
  <select id="getUserName" resultType="String" parameterType="String" >
    SELECT NAME FROM cd_user where name= #{username,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cd_user
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="getUser" resultMap="BaseResultMap" parameterType="String" >
    select 
    <include refid="Base_Column_List" />
    from cd_user
    where name = #{username,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cd_user
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cdhotel.model.User" >
    insert into cd_user (ID, NAME, PASSWORD, 
      ROLE, CREATETIME, CREATENAME, 
      EMOLUMENT)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{role,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{createname,jdbcType=VARCHAR}, 
      #{emolument,jdbcType=VARCHAR})
  </insert>
  <insert id="insertUser" parameterType="String" >
    insert into cd_user (NAME, PASSWORD, 
      ROLE, CREATETIME, CREATENAME)
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{role,jdbcType=VARCHAR},str_to_date(#{datetime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s') , #{username,jdbcType=VARCHAR})
  </insert> 
  <insert id="insertSelective" parameterType="com.cdhotel.model.User" >
    insert into cd_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="role != null" >
        ROLE,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="createname != null" >
        CREATENAME,
      </if>
      <if test="emolument != null" >
        EMOLUMENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createname != null" >
        #{createname,jdbcType=VARCHAR},
      </if>
      <if test="emolument != null" >
        #{emolument,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdhotel.model.User" >
    update cd_user
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        ROLE = #{role,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createname != null" >
        CREATENAME = #{createname,jdbcType=VARCHAR},
      </if>
      <if test="emolument != null" >
        EMOLUMENT = #{emolument,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdhotel.model.User" >
    update cd_user
    set NAME = #{name,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      ROLE = #{role,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      CREATENAME = #{createname,jdbcType=VARCHAR},
      EMOLUMENT = #{emolument,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>